.form-wrapper {
  border: 1px #3f51b5 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  padding: 10px 10px 5px 10px;
  margin-top: 30px;
}

.button-wrapper {
  padding-bottom: 20px;
  margin-left: 10px;
}

.number-input-wrapper {
  width: 500px;
}
